# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# Poetry
.poetry/

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings
.vscode/

# Docker
*.log
docker-compose.override.yml

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Logs
*.log

# Others
*.sqlite3
